[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
dash-mantine-components = "*"
pandas = "==2.2.3"
dash-iconify = "*"
dash-echarts = "*"
bokeh = "*"
dash-ag-grid = "*"
dash-leaflet = "*"
workalendar = "*"
scikit-learn = "*"
scipy = "*"
rdflib = "*"
dash-cytoscape = "*"
brickllm = "*"
dash-mantine-react-table = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
